<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form action="login" method="post">
        {% csrf_token %}
        <div class="txt_field">
          <input type="text" name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password"  name="password">
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login">
      </form>
    </div>
    <div>
      {% for message in messages %}
      <h3> {{message}}</h3>
      {% endfor %}
  </div>
  </body>
</html>